
@{
    ViewBag.Title = "我的分销组织";
}

<<div class="content">
    <div class="buttons-tab">
        <a href="#tab1" class="tab-link active button">全部成员</a>
        <a href="#tab2" class="tab-link button">二级成员</a>
        <a href="#tab3" class="tab-link button">三级成员</a>
    </div>
    <div class="content-block">
        <div class="tabs">
            <div id="tab1" class="tab active">
                <div class="content-block">
                    <p>显示所有成员</p>
                </div>
            </div>
            <div id="tab2" class="tab">
                <div class="content-block">
                    <p>只显示一级会员</p>
                </div>
            </div>
            <div id="tab3" class="tab">
                <div class="content-block">
                    <p>只显示二级会员</p>
                </div>
            </div>
        </div>
    </div>
</div>

