@{
    ViewBag.Title = "联系我们- 红成电商";
}

<address>
    山东省临沂市<br />
    莒南县 南环路东 宏成汽贸集体有限公司 二层 201<br />
    <abbr title="Phone">P:</abbr>
    0539- 7780999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bijion@outlook.com">反馈意见</a><br />
    <strong>Marketing:</strong> <a href="mailto:934993821@qq.com">商务洽谈</a>
</address>