@using hongcheng.Resources;
@{
    ViewBag.Title = "红林电商";
}

@*<div class="jumbotron">    
    <p class="lead">红林电商在农村：让我们共同解决优质工业品优惠进农村，生鲜土特产品卖出去，解决农民借贷款难三大问题！</p>    
</div>*@

<ul data-role="listview" data-inset="true">    
    <li>@Html.ActionLink("我的主页", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("注册", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>    
    <li>@Html.ActionLink("关于", "About", "Home")</li>
    <li>@Html.ActionLink("联系我们", "Contact", "Home")</li>
</ul>