
@{
    ViewBag.Title = "我的帮助";
}

<div data-role="main" class="ui-content">
    <div data-role="collapsibleset">
        <div data-role="collapsible">
            <h3>用户相关</h3>
            <p>内容建设中，请期待</p>
        </div>
        <div data-role="collapsible">
            <h3>分销相关</h3>
            <p>内容建设中，请期待</p>
        </div>
        <div data-role="collapsible">
            <h3>积分相关</h3>
            <p>内容建设中，请期待</p>
        </div>
        <div data-role="collapsible">
            <h3>商城相关</h3>
            <p>内容建设中，请期待</p>
        </div>
    </div>
</div>