@using hongcheng.Resources;
@{
    ViewBag.Title = "红林商城";
}

<div data-role="content">
    <div class="menu">
        <ul>
            
            <li class="blue">
                <a href="http://www.xttblog.com">
                    <img src="img/blog.png" alt="影视大全" title="影视大全" /><span>影视大全</span>
                </a>
            </li>
            <li class="orange">
                <a href="http://www.xttblog.com">
                    <img src="img/docs.png" alt="携程旅行" title="携程旅行" /><span>携程旅行</span>
                </a>
            </li>
            <li class="purple">
                <a href="http://www.xttblog.com">
                    <img src="img/photos.png" alt="小说书架" title="小说书架" /><span>小说书架</span>
                </a>
            </li>
            <li class="yellow">
                <a href="http://www.xttblog.com">
                    <img src="img/clients.png" alt="美团团购" title="美团团购" /><span>美团团购</span>
                </a>
            </li>
            <li class="purple">
                <a href="http://www.xttblog.com">
                    <img src="img/photos.png" alt="新浪读书" title="新浪读书" /><span>新浪读书</span>
                </a>
            </li>
            <li class="yellow">
                <a href="http://www.xttblog.com">
                    <img src="img/clients.png" alt="热门游戏" title="" /><span>热门游戏</span>
                </a>
            </li>
            <li class="yellow">
                <a href="http://www.xttblog.com">
                    <img src="img/clients.png" alt="有缘网" title="有缘网" /><span>有缘网</span>
                </a>
            </li>
            <li class="yellow">
                <a href="http://www.guusoft.com">
                    <img src="img/clients.png" alt="谷软" title="谷软" /><span>谷软</span>
                </a>
            </li>
            <li class="orange">
                <a href="http://www.damuban.com">
                    <img src="img/docs.png" alt="大模板" title="大模板" /><span>大模板</span>
                </a>
            </li>
            <li class="purple">
                <a href="http://www.xttblog.com">
                    <img src="img/photos.png" alt="小说书架" title="小说书架" /><span>小说书架</span>
                </a>
            </li>
            <li class="green">
                <a href="http://www.xttblog.com">
                    <img src="img/about.png" alt="网址导航" title="网址导航" /><span>网址导航</span>
                </a>
            </li>
            <li class="red">
                <a href="http://www.xttblog.com">
                    <img src="img/tools.png" alt="天天热帖" title="天天热帖" /><span>天天热帖</span>
                </a>
            </li>
            <li class="blue">
                <a href="http://www.xttblog.com">
                    <img src="img/blog.png" alt="影视大全" title="影视大全" /><span>影视大全</span>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
